# =========================
# INTELLIJ
# =========================
.idea/
*.iml

# =========================
# MAVEN
# =========================
target/
.mvn/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
docker/postgres-data/
docker/kafka-data/
docker/redis-data/

# =========================
# SPRING
# =========================
application-local.yml
application-secret.yml

# =========================
# TEMP
# =========================
tmp/
temp/

# =========================
# TESTS
# =========================
coverage/